* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('./Photos/balcony.jpg') no-repeat fixed 10%  0%;
    background-size: cover;
   
}


.navbar {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
}


.link{
    font-size: 23px;
    font-weight: 500;
    font-family: 'verdana';
    text-decoration: none;
    margin: 28px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}



.link:hover {
    color: rgb(96, 97, 97)
}




.home{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.homeText{
    font-family: "bookman";
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.intro{
    margin-top: 10px;
    font-size: 37px;
    color: rgba(117, 115, 115, 0.932);
}

.intro2{
    margin-top: 310px;
    font-size: 45px;
    color: rgba(116, 124, 139, 0.932);
}



.about{
    
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.about2{
    width: 600px;
    height: 370px;
    background-color: rgba(128, 110, 93, 0.63);
    margin-left: 70px;
    margin-top: 150px;
    border-radius: 10px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}




.facebook{
    background-image: url( './Photos/facebook.png')  ; 
    height: 43px;
    width: 43px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
    transition: 0.5s ease-in-out 0.2s;
    border-radius: 10px;
}

.linkedin{
    background-image: url( './Photos/linkedin.png')  ; 
    height: 43px;
    width: 43px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
    transition: 0.5s ease-in-out 0.2s;
    border-radius: 10px;
}


.photo{
    background-image: url( './Photos/valentina.jpeg')  ; 
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
    transition: 0.5s ease-in-out 0.2s;
    border-radius: 100px;
    margin-bottom: 100px;
    margin:auto;
    
}







@media only screen and (max-width: 1025px) {

    

    .intro2{
        margin-top:140px;
        font-size: 17px;
    }
    
    .intro{
        color: rgba(65, 65, 65, 0.932);
        margin-top:0px;
        font-size: 16px;
    }
    
    .link{
        font-size: 16px;
        
    }

}