* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('./Photos/balcony.jpg') no-repeat fixed 10%  0%;
    background-size: cover;
   
}




.contact{
    height: 1000px;
    width:100%;
    background-color: rgb(255, 255, 255);
   
    
}

.navbar {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(124, 124, 124);
    background-color: rgba(255, 255, 255, 0.986);
    display: flex;
    justify-content: flex-start;
    position: fixed;
   
}


.link{
    font-size: 20px;
    font-weight: 500;
    font-family: 'verdana';
    text-decoration: none;
    margin: 28px;
    margin-top: 30px;
    color: rgb(46, 46, 46);
    position: relative;
}



.link:hover {
    color: rgb(184, 184, 184)
}




.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 830px;
    
    
}

.homeText{
    font-family: "bookman";
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.intro{
    margin-top: 10px;
    font-size: 37px;
    color: rgba(85, 83, 83, 0.815);
    animation: translateToPosition 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.intro2{
    margin-top: -50px;
    font-size: 45px;
    color: rgba(99, 105, 117, 0.733);
    animation: translateToPosition1 5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


@keyframes translateToPosition{
    0%{
        transform: translateX(-1000px);
        letter-spacing: 25px;
        opacity: 0.2;
    }
    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0);
        letter-spacing: 0;
        opacity: 1;
    }
}


@keyframes translateToPosition1{
    0%{
        transform: translateX(1000px);
        letter-spacing: 15px;
        opacity: 0.2;
    }
    50%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
        letter-spacing: 0;
        opacity: 1;
    }
}


.about{
    
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 880px;
    width: 100%;
    border-top: 60px solid rgba(211, 211, 211, 0.993);
    border-bottom: 10px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    
}


.about2{
    width: 400px;
    height: 470px;
    background-color: rgba(20, 33, 49, 0.931);
    margin-left: 70px;
    margin-top: 150px;
    border-radius: 27px;
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid rgb(218, 218, 218);
}



.logos{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    }


.facebook{
    background-image: url( './Photos/facebook.png')  ; 
    height: 33px;
    width: 33px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
    transition: 0.5s ease-in-out 0.2s;
    border-radius: 10px;
    border:2px solid white;
}



.facebook:hover{
    height: 50px;
    width: 50px;
}



.linkedin{
    background-image: url( './Photos/linkedin.png')  ; 
    height: 33px;
    width: 33px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
    transition: 0.5s ease-in-out 0.2s;
    border-radius: 10px;
    border:2px solid white;
}




.linkedin:hover{

    height: 50px;
    width: 50px;
   
}



.photo{
    background-image: url( './Photos/valentina.jpeg')  ; 
    height: 100px;
    width: 100px;
    border: 2px solid white;
    background-position: center;
    background-size: cover;
    display: inline-block;
    transition: 0.5s ease-in-out 0.2s;
    border-radius: 100px;
    margin-bottom: 100px;
    margin:auto;
    
}







@media only screen and (max-width: 1025px) {

    body{
        background: url('./Photos/balcony.jpg') no-repeat fixed 10%  0%;
        background-size: contain;
       
    }

    .intro2{
        margin-top:90px;
        font-size: 17px;
    }
    
    .intro{
        color: rgba(65, 65, 65, 0.932);
        margin-top:0px;
        font-size: 16px;
    }
    
    .link{
        font-size: 16px;
        
    }

    .about2{
        margin:auto;
        margin-top:0px;
        margin-bottom: 0px;
        background-color: rgb(124, 118, 111);
    }

    .home{
        height: 830px;
    }

    

    
}




html,body {

    width:100%;
    height:100%;
  }
  body {
   margin: 0;
  }
  
 
 
 
 
  #slideshow {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width:100%;
    height:100%;
    display: inline-block;
    
  }
  
  
  
  
  .elemnt,.elemnt1,.elemnt2,.elemnt3 {
  position: absolute;
  padding-top: 40px;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: inline-block;
  text-align: center;
 
  }
  
  
  @keyframes imageSwap {
    0% {
      opacity:1;
    }
    19% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    94% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
    }
    #container {
     position: relative; 
     width: 100%;
     height: 100%;
    }
    #image1 {
      height: 100%;
      width: 100%;
      background-image: url('./Photos/armani.jpg');
      background-size: cover;
      position: absolute;
      text-align: center;
      font-size: 40px;
      padding-top: 40px;
      color:rgba(46, 41, 41, 0.692);
      animation-name: imageSwap;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 32s;
      animation-delay: 1;
    }
    #image2 {
      height: 100%;
      width: 100%;
      background-image: url('./Photos/pic10.jpg');
      background-size: cover;
      position: absolute;
      text-align: center;
      font-size: 40px;
      padding-top: 40px;
      color:rgba(46, 41, 41, 0.692);
      opacity: 0;
      animation-name: imageSwap;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 32s;
      animation-delay: 8s;
    }
    #image3 {
      height: 100%;
      width: 100%;
      background-image: url('./Photos/picture4.jpg');
      background-size: cover;
      position: absolute;
      text-align: center;
      font-size: 40px;
      padding-top: 40px;
      color:rgba(46, 41, 41, 0.692);
      opacity: 0;
      animation-name: imageSwap;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 32s;
      animation-delay: 16s;
    }
    #image4 {
      height: 100%;
      width: 100%;
      background-image: url('./Photos/pic12.jpg');
      background-size: cover;
      position: absolute;
      text-align: center;
      font-size: 40px;
      padding-top: 40px;
      color:rgba(46, 41, 41, 0.692);
      opacity: 0;
      animation-name: imageSwap;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 32s;
      animation-delay: 24s;
    }